lato{
	font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}

.no-float{
	float: none;
}

.top-margin{
	margin-top: 50px;
}

.testy{
	font-family: 'Patrick Hand', cursive;
	font-size: 8em;
}

.ocn-back{
	background-image: url('https://static.oc.tc/assets/index/marketing/6-3cd4804b44a82f9b047b07d2e11745f7.png');
}

.white-text{
	color: white;
}
