@font-face{
	font-family: 'Fuentecita';
	src: url('PAC-FONT.woff2') format('woff2'),
	url('PAC-FONT.woff') format('woff'),
	url('PAC-FONT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

img{
	max-width: 100%;
}

.no-float{
	float: none;
}

.top-margin{
	margin-top: 50px;
}

.testy{
	font-family: 'Patrick Hand', cursive;
	font-size: 4em;
}
.pac{
	font-family: 'Fuentecita', sans-serif;
}
