lato{
	font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}

.no-float{
	float: none;
}

.top-margin{
	margin-top: 50px;
}

.testy{
	font-family: 'Patrick Hand', cursive;
	font-size: 8em;
}

.ocn-back{
	background-image: url('https://static.oc.tc/assets/index/marketing/6-3cd4804b44a82f9b047b07d2e11745f7.png');
}

.avicus-back{
	background-image: url('http://i.imgur.com/O5YCXzE.jpg');
}

.white-text{
	color: white;
}

.delay-1{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.delay-2{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.delay-3{
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

