.btn{
	border-radius: 5px;
	margin-left: 30px;
	margin-right: 140px;
	display: inline-block;
	padding: 8px;
	color: black;
	border-width: 1px;
	border-style: solid;
	border-color: #2e64fe;
	text-align: center;
	outline: none;
	text-decoration: none;
}
